{% extends "base.html" %}



{% block site-icerigi %}
<div class="container">
<div class="row">
{% for blog in bloglar %}
    <div class="col-3">
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{blog.note_title}}</h5>
            <p class="card-text">{{note_content}}</p>
            <a href="{% url 'notedetails' blog.id %}" class="btn btn-primary">Git</a>
        </div>
    </div>
</div>
    {% endfor %}
</div>
</div>

{% endblock site-icerigi %}